@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root {
    --text: #EEEEEE;
    --background: #24292E;
    --blackground: #1F2428;
    --blue: #246DDD;
    --lightBlue: #79B8F2;
    --darkblue: #2429AE;
    --green: #5CDC8F;
    --red: #F9695F;
    --grey: #444D56;
    --purple: #9392F0;
    --yellow: #FFD718;
}

.dark {
    --text: #EEEEEE;
    --background: #1F2428;
    --blackground: #24292E;
    --blue: #246DDD;
    --lightBlue: #79B8F2;
    --darkblue: #2429AE;
    --green: #5CDC8F;
    --red: #F9695F;
    --grey: #444D56;
    --purple: #9392F0;
    --yellow: #FFD718;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-family: 'Comfortaa', cursive;
    color: var(--text);
}

body {
    background-color: var(--background);
}

canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}