@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root {
    --text: #EEEEEE;
    --textOnBackground: #222531;
    --background: #EEEEEE;
    --blackground: #1a1525;
    --purple: #6C56E1;
}

.dark {
    --text: #222531;
    --textOnBackground: #EEEEEE;
    --background: #1a1525;
    --blackground: #EEEEEE;
    --purple: #6C56E1;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-family: 'Comfortaa', cursive;
    color: var(--text);
}

body {
    background-color: var(--background);
}

canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}